@import url('https://googleapis.com');

:root {
  --main-font: "Source Sans 3", "Roboto", sans-serif;
  --heading: "Source Sans 3", "Roboto", sans-serif;
  --site-padding: 132px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: inherit;
}
